@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/mulish"; 
@import "@fontsource/mulish/400.css";
@import "@fontsource/mulish/400-italic.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mulish", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
